.logga{
    height: 200px;
    width: 100%;
    background-image: url("../bilder/furulund-trad.jpg");
    background-size: cover;
    font-size: 4.5vw;
    color: white;
    vertical-align: middle;
    line-height: 200px;
    text-shadow: 1px 1px 2px black;
    word-spacing: 8vw;
    text-align: center;
}
.blue{
    background-color: rgb(0, 56, 113);
    color: white;
}
.carousel-item {
    height: 400px;
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.height{
    height: 500px;
}
.text-blue{
    color: rgb(0, 56, 113);
}
.h1-size{
    font-size: 3vw;
}
.bil-bild{
    height: 250px;
    width: 400px;
}
.footer{
    padding: 30px;
}
.date{
    text-align: center;
}
.credit{
    text-align: center;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.6);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}